@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
    html,
    body {
      position: relative;
      height: 100%;
      font-family: "Mouse Memoirs", sans-serif };

    body {
      background: #ffffff;
      margin: 0;
    }

    .swiper {
     background: transparent
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      width: auto;
      height: 860px;
      max-width: 100%;
      object-fit: contain;
    }

    nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 90%;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}

  