
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');



*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(PIC/BACKG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Mouse Memoirs", sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 90%;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 70px;
}
nav a{
    height: 100%;
    padding: 0 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}
.Description {
    position: absolute;
    top: 9%;
    color:#feffff;
    padding: 30px;
    font-size: 27px;
    font-weight: bold;
}
.Description h4{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 9%;
}